@import "./global";

.footerContainer {
  background-color: #F8F3D9;
  padding: 30px 100px;

  .footer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;

    .footer-title {
      font-size: 24px;
      font-weight: 500;
      text-transform: uppercase;
    }

    .rightNew {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 10px;
      width: 300px;
      // padding-left: 150px;
      // border: 2px solid red;

      .footer-title {
        // border: 2px solid red;
        text-align: right;
      }

      .about-text {
        font-size: 14px;
        text-align: right;
      }
      .certifications {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        img {
          height: 60px;
          margin-top: 12px;
        }
      }
    }
    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      // border: 2px solid red;
      gap: 20px;
      width: calc(100% - 600px);

      .inner-center {
        display: flex;
        gap: 70px;

        .useful-links-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          // border: 2px solid red;

          .useful-links {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 5px;

            li {
              text-align: center;
              padding: 0 15px 0 0;

              a {
                text-decoration: none;
                color: black;
                font-weight: 500;
                font-size: 14px;
              }
            }
          }
        }
      }
      .socialIcons {
        // border: 2px solid red;
        justify-content: center;
        display: flex;
        gap: 20px;

        a {
          font-size: 24px;
          color: black;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          border-radius: 50%;
        }
      }
    }
    .leftnew {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 10px;
      width: 300px;
      // border: 2px solid red;

      .logo {
        // border: 2px solid red;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        img {
          height: 170px;
        }
      }

      .sub-detail {
        // border: 2px solid red;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 5px;

        ion-icon {
          font-size: 18px;
        }

        span {
          font-weight: 300;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .footerContainer {
    // background-color: blue;
    padding: 30px 100px;

    .footer {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      color: black;

      .footer-title {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .rightNew {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        width: 100%;
        // padding-left: 150px;
        // border: 2px solid red;
        margin-top: 20px;

        .footer-title {
          // border: 2px solid red;
          text-align: center;
        }

        .about-text {
          font-size: 14px;
          text-align: center;
        }
        .certifications {
          display: flex;
          justify-content: center;
          gap: 10px;

          img {
            height: 60px;
            margin-top: 12px;
          }
        }
      }
      .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 2px solid red;
        gap: 10px;
        width: calc(100% - 250px);

        .inner-center {
          display: flex;
          gap: 20px;

          .useful-links-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            // border: 2px solid red;

            .useful-links {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 5px;

              li {
                text-align: center;
                padding: 0 15px 0 0;

                a {
                  text-decoration: none;
                  color: black;
                  font-weight: 300;
                  font-size: 14px;
                }
              }
            }
          }
        }
        .socialIcons {
          // border: 2px solid red;
          justify-content: center;
          display: flex;
          gap: 20px;

          a {
            font-size: 24px;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            border-radius: 50%;
          }
        }
      }
      .leftnew {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        width: 250px;
        // border: 2px solid red;

        .logo {
          // border: 2px solid red;
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          img {
            height: 130px;
          }
        }

        .sub-detail {
          // border: 2px solid red;
          font-size: 14px;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 5px;

          ion-icon {
            font-size: 18px;
          }

          span {
            font-weight: 300;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .footerContainer {
    // background-color: blue;
    padding: 30px 50px;

    .footer {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      flex-direction: column;
      color: black;

      .footer-title {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .rightNew {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        width: 100%;
        // padding-left: 150px;
        // border: 2px solid red;

        .footer-title {
          // border: 2px solid red;
          text-align: center;
        }

        .about-text {
          font-size: 14px;
          text-align: center;
        }
        .certifications {
          display: flex;
          justify-content: center;
          gap: 10px;

          img {
            height: 60px;
            margin-top: 12px;
          }
        }
      }
      .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 2px solid red;
        gap: 20px;
        width: 100%;

        .inner-center {
          display: flex;
          gap: 70px;

          .useful-links-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            // border: 2px solid red;

            .useful-links {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 5px;

              li {
                text-align: center;
                padding: 0 15px 0 0;

                a {
                  text-decoration: none;
                  color: black;
                  font-weight: 300;
                  font-size: 14px;
                }
              }
            }
          }
        }
        .socialIcons {
          // border: 2px solid red;
          justify-content: center;
          display: flex;
          gap: 20px;

          a {
            font-size: 24px;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            border-radius: 50%;
          }
        }
      }
      .leftnew {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        // border: 2px solid red;

        .logo {
          // border: 2px solid red;
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          img {
            height: 130px;
          }
        }

        .sub-detail {
          // border: 2px solid red;
          font-size: 14px;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 5px;

          ion-icon {
            font-size: 18px;
          }

          span {
            font-weight: 300;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .footerContainer {
    // background-color: blue;
    padding: 15px 20px;
    min-width: 400px;

    .footer {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      flex-direction: column;
      color: black;

      .footer-title {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .rightNew {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        width: 100%;
        margin-top: 10px;

        .footer-title {
          text-align: center;
        }

        .about-text {
          font-size: 14px;
          font-weight: 300;
          text-align: center;
        }
        .certifications {
          display: flex;
          justify-content: center;
          gap: 10px;

          img {
            height: 50px;
            margin-top: 12px;
          }
        }
      }
      .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 2px solid red;
        gap: 20px;
        width: 100%;

        .inner-center {
          display: flex;
          justify-content: space-between;
          gap: 10px;

          .useful-links-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
            width: 100%;
            // border: 2px solid red;

            .useful-links {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 0px;

              li {
                text-align: center;
                padding: 0 15px 0 0;

                a {
                  text-decoration: none;
                  color: black;
                  font-weight: 300;
                  font-size: 14px;
                }
              }
            }
          }
        }
        .socialIcons {
          // border: 2px solid red;
          justify-content: center;
          display: flex;
          gap: 20px;

          a {
            font-size: 24px;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            border-radius: 50%;
          }
        }
      }
      .leftnew {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        // border: 2px solid red;

        .logo {
          // border: 2px solid red;
          display: flex;
          justify-content: center;
          margin-bottom: 0;
          img {
            height: 80px;
          }
        }

        .sub-detail {
          // border: 2px solid red;
          font-size: 14px;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 5px;

          ion-icon {
            font-size: 18px;
          }

          span {
            font-weight: 300;
          }
        }
      }
    }
  }
}
