@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");

@import "./scrollToTopArrow";
@import "./header";
@import "./projects";
@import "./services";
@import "./navbar";
@import "./testimonials";
@import "./footer";
@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  // border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  background-color: #000000;
}

button {
  padding: 8px 30px;
  background-color: black;
  border: 2px solid black;
  color: white;
  cursor: pointer;
  transition: all ease 0.3s;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  white-space: nowrap;
  gap: 5px;

  &.btn-secondary {
    background-color: black;
    color: white;
  }

  ion-icon {
    font-size: 20px;
    margin-left: 5px;
  }

  &:hover {
    background-color: white;
    color: black;
  }
}

@media screen and (max-width: 1000px) {
  button {
    padding: 5px 15px;
    font-size: 12px;
    gap: 5px;
    height: fit-content;
    width: fit-content;

    ion-icon {
      font-size: 16px;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  button {
    padding: 3px 8px;
    font-size: 10px;
    gap: 5px;
    height: fit-content;
    width: fit-content;
  }
}
